.loader {
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
}

.header {
  margin: 50px auto 0;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  max-width: 280px;

  @media (min-width: 700px) {
    font-size: 26px;
    max-width: none;
  }
}

.container {
  padding-top: 20px;
  margin: 0 auto 21px;
  display: flex;
  justify-content: space-around;
  max-width: 280px;

  @media (min-width: 700px) {
    padding-top: 50px;
    margin: 0 auto;
    max-width: 816px;
  }

  @media (min-width: 1200px) {
    margin: 0 auto;
    max-width: 1300px;
  }
}


