html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
